extends ../admin

block adminContent
   p.title Planning Flights
   .tableContainer
      table#tablePlanningFlights.hover.order-column.tableFlinchi
         thead
            tr
               th Flight Code
               th Date
               th Airplane Number
               th Route Number
               th Origin
               th Destiny
               th State
         tbody
