.admin-section {
   height: 110vh;
   width: 100%;
   background-color: rgb(88, 85, 85);
}

.sidenav {
   z-index: 1000;

   .background {
      filter: brightness(50%);

      img {
         width: 100%;
      }
   }

   .circle {
      border-radius: 0;
      height: 40px !important;
      width: 142px !important;
   }

   .user-view {
      padding: 32px 32px 8px !important;
   }
}

.collapsible-body {

   a {
      display: block;
      padding-left: 5rem;
      font-size: 1.4rem;
      transition: all .3s;

      &:hover {
         background-color: rgb(245, 245, 245);
      }
   }
}

.collapsible-header i {
   color: #2FBCAC;
}

.ml-4 {
   margin-left: 2rem;
}