.home {
   background-image: linear-gradient(to right bottom,
      rgba(rgba(32, 32, 32, 0.596), 0.8),
      rgba(rgba(32, 32, 32, 0.596), 0.8)), 
      url('/images/fondoAvion.jpg');
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 125vh;
   clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
   position: relative;
   z-index: 5;

   &__text-container {
      text-align: center;
      position: absolute;
      width: 90%;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(230, 230, 230);
   }

   &__text-primary {
      font-size: 5rem;
      font-weight: 900;
      text-shadow: .1rem .1rem .1rem #000;
   }

   &__text-secondary {
      font-size: 1.5rem;
      width: 75%;
      margin: 0 auto;
   }

   &__principal-form {
      width: 90%;
      height: 7rem;
      background-color: #FFF;
      position: absolute;
      z-index: 300;
      top: 70%;
      left: 50%;
      border-radius: 2px;
      box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.452);
      transform: translate(-50%, -50%);
      padding: .5rem 1rem;
   }
}

.input-field.col.s2 {
   margin-top: 2rem;
}

.input-field > label {
   font-size: 1.2rem;
}

.select-wrapper input.select-dropdown {
   font-size: 1.3rem;
   color: rgb(114, 112, 106);
}

.datePicker {
   padding-left: 2rem;
}

.datepicker-controls {
   padding: 10px 0 !important;
}

.datepicker-calendar-container {
   background-color: #FFF;
}

.datepicker-day-button {
   line-height: 36px !important;
}

.buttoncito {
   top: 1rem;
}

.checkbox {
   text-align: center;
   margin-top: .4rem !important;

   p {
      color: #9e9e9e;
      margin-bottom: 1.2rem;
   }
}

.btnHome {
   margin-top: -.8rem;
   width: 100%;
}

.row .col {
   padding: 0 1.5rem;
}

.countrySelector {
   // background-color: rgb(68, 68, 68);
   background-image: linear-gradient(to top left, rgb(107, 100, 100),rgb(87, 85, 85), rgb(107, 100, 100));
   margin-top: -15rem;
   padding-top: 17rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;

   &__text {
      text-align: center;
      font-weight: 100;
      color: #2BBBAD;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-size: 7rem;
      border-bottom: 1px solid #2BBBAD;
      width: 80%;
      margin-bottom: 1rem;
      transition: all .3s;

      &:hover {
         letter-spacing: 12px;
      }
   }

   svg {
      position: relative;
      top: -7rem;
      left: 14%;
      margin-bottom: -6rem;
      z-index: 5;
      width: 90%;
   }


   .restoDelMundo {fill:rgba(214, 214, 214, 0.849);}
   .francia {
      fill:#2BBBAD;
      transition: all .5s;
      &:hover {
         fill:rgb(49, 61, 61);
      }
   }
   .nuevaYork {
      fill:#2BBBAD;
      transition: all .5s;
      &:hover {
         fill:rgb(49, 61, 61);
      }
   }
   .miami{
      fill:#2BBBAD;
      transition: all .5s;
      &:hover {
         fill:rgb(49, 61, 61);
      }
   }
   .atlanta {
      fill:#2BBBAD;
      transition: all .5s;
      &:hover {
         fill:rgb(49, 61, 61);
      }
   }
   .arabiaSaudita {
      fill:#2BBBAD;
      transition: all .5s;
      &:hover {
         fill:rgb(49, 61, 61);
      }
   }
   .venezuela {
      fill:#2BBBAD;
      transition: all .5s;
      &:hover {
         fill:rgb(49, 61, 61);
      }
   }

   #RestoDelMundo {
      cursor: default;
   }

   .mapWrap {
      position: relative;
      width: 100%;

      &__info {
         position: absolute;
         background-color: rgb(32, 32, 32);
         top: 43%;
         left: 3%;
         width: 19%;
         padding: 1.5rem 2rem;
         z-index: 1001;
         border-radius: 2px;
         box-shadow: .7rem .7rem 1rem rgba(0, 0, 0, 0.465);
         transition: all .3s;

         &:hover {
            transform: scale(1.02) translateY(-4px);
            box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.376);
         }

         p {
            text-align: center;
            font-size: 1.5rem;
            color: #d1cece;
            font-weight: 300;
         }
      }

      &__info2 {
         text-align: center;
         font-size: 1.5rem;
         color: #d1cece;
         position: absolute;
         background-color: rgb(32, 32, 32);
         top: 52%;
         left: 69%;
         width: 23%;
         z-index: 1001;
         border-radius: 2px;
         box-shadow: .7rem .7rem 1rem rgba(0, 0, 0, 0.465);
         transition: all .3s;

         // &:hover {
         //    transform: scale(1.02) translateY(-4px);
         //    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.376);
         // }

         li {
            font-weight: 100;
            padding: .4rem 1rem;
            position: relative;
            transition: all .3s;
            cursor: default;

            span {
               visibility: hidden;
               opacity: 0;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               display: block;
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               cursor: default;
               letter-spacing: 2px;
               color: #2BBBAD;
               font-weight: 300;
               transition: all .4s;
            }
            
            &:hover {
               
            }

            &:hover span {
               background-color: rgb(24, 24, 24);
               visibility: visible;
               opacity: 1;
            }


            //&:hover 
         }
      }
   }

   .firstPlane, .secondPlane, .thirdPlane, .fourthPlane {
      color: rgb(0, 0, 0);
      font-size: 25px;
      position: absolute;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      text-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.315);
   }
   
   .firstPlane {
      top: 44%;
      left: 33%;
      transform: rotate(-30deg);
      animation: vzlafran 10s 4s infinite;
   }

   .secondPlane {
      top: 20%;
      left: 49%;
      transform: rotate(29deg);
      animation: frandub 10s infinite;
   }

   .thirdPlane {
      top: 33%;
      left: 60%;
      transform: rotate(200deg);
      animation: dubnewyork 13s 6s infinite;
   }

   .fourthPlane {
      top: 31%;
      left: 29.5%;
      transform: rotate(-23deg);
      animation: miafran 10s 8s infinite;
   }
}

@keyframes vzlafran {
   0% {
      opacity: 1;
      visibility: visible;
   }

   30% {
      opacity: 1;
      visibility: visible;
      top: 19%;
      left: 49%;
   }

   31% {
      opacity: 0;
      visibility: hidden;
      top: 19%;
      left: 49%;
   }

   100% {
      opacity: 0;
      visibility: hidden;
      top: 19%;
      left: 49%;
   }
}

@keyframes frandub {
   0% {
      opacity: 1;
      visibility: visible;
   }

   30% {
      opacity: 1;
      visibility: visible;
      top: 35%;
      left: 60%;
   }

   31% {
      opacity: 0;
      visibility: hidden;
      top: 35%;
      left: 60%;
   }

   100% {
      opacity: 0;
      visibility: hidden;
      top: 35%;
      left: 60%;
   }
}

@keyframes dubnewyork {
   0% {
      opacity: 1;
      visibility: visible;
   }

   30% {
      opacity: 1;
      visibility: visible;
      top: 22%;
      left: 32%;
   }

   31% {
      opacity: 0;
      visibility: hidden;
      top: 22%;
      left: 32%;
   }

   100% {
      opacity: 0;
      visibility: hidden;
      top: 22%;
      left: 32%;
   }
}

@keyframes miafran {
   0% {
      opacity: 1;
      visibility: visible;
   }

   30% {
      opacity: 1;
      visibility: visible;
      top: 20%;
      left: 48.5%;
   }

   31% {
      opacity: 0;
      visibility: hidden;
      top: 20%;
      left: 48.5%;
   }

   100% {
      opacity: 0;
      visibility: hidden;
      top: 20%;
      left: 48.5%;
   }
}

@keyframes scroll {
   0% {
      opacity: 1;
   }  

   100% {
      opacity: 0;
      transform: translateY(46px);
   }
}

.icon-scroll, .icon-scroll:before {
   position: absolute;
   left: 50%;
}

.icon-scroll {
   width: 40px;
   height: 70px;
   margin-left: -20px;
   top: 150%;
   margin-top: -35px;
   box-shadow: inset 0 0 0 1px #fff;
   border-radius: 25px;
}

.icon-scroll:before {
   content: '';
   width: 8px;
   height: 8px;
   background: #fff;
   margin-left: -4px;
   top: 8px;
   border-radius: 4px;
   animation-duration: 2.5s;
   animation-iteration-count: infinite;
   animation-name: scroll;
}

.loadingView {
   display: none;
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(22, 19, 19, 0.7);
   z-index: 9999999999999999999;

   .lds-roller {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      .loadingText {
         font-size: 3.6rem;
         color: rgb(207, 207, 207);
         text-align: center;
      }
   }
   .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 32px 32px;
   }
   .lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background: #fff;
      margin: 11px 11px 11px 11px;
   }
   .lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
   }
   .lds-roller div:nth-child(1):after {
      top: 50px;
      left: 50px;
   }
   .lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
   }
   .lds-roller div:nth-child(2):after {
      top: 54px;
      left: 45px;
   }
   .lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
   }
   .lds-roller div:nth-child(3):after {
      top: 57px;
      left: 39px;
   }
   .lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
   }
   .lds-roller div:nth-child(4):after {
      top: 58px;
      left: 32px;
   }
   .lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
   }
   .lds-roller div:nth-child(5):after {
      top: 57px;
      left: 25px;
   }
   .lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
   }
   .lds-roller div:nth-child(6):after {
      top: 54px;
      left: 19px;
   }
   .lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
   }
   .lds-roller div:nth-child(7):after {
      top: 50px;
      left: 14px;
   }
   .lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
   }
   .lds-roller div:nth-child(8):after {
      top: 45px;
      left: 10px;
   }
   @keyframes lds-roller {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
   }
    
}