.home {
   background-image: linear-gradient(to right bottom,
      rgba(rgba(32, 32, 32, 0.596), 0.8),
      rgba(rgba(32, 32, 32, 0.596), 0.8)), 
      url('/images/fondoAvion.jpg');
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 115vh;
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
   position: relative;
   z-index: 5;

   &__text-container {
      text-align: center;
      position: absolute;
      width: 90%;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(184, 183, 183);
   }

   &__text-primary {
      font-size: 5rem;
      font-weight: 900;
   }

   &__text-secondary {
      font-size: 1.5rem;
      width: 75%;
      margin: 0 auto;
   }

   &__principal-form {
      width: 90%;
      height: 7rem;
      background-color: #FFF;
      position: absolute;
      z-index: 300;
      top: 75%;
      left: 50%;
      border-radius: 2px;
      box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.452);
      transform: translate(-50%, -50%);
      padding: .5rem 1rem;
   }
}

.input-field.col.s2 {
   margin-top: 2rem;
}

.input-field > label {
   font-size: 1.2rem;
}

.select-wrapper input.select-dropdown {
   font-size: 1.3rem;
   color: rgb(114, 112, 106);
}

.datePicker {
   padding-left: 2rem;
}

.checkbox {
   text-align: center;
   margin-top: .4rem !important;

   p {
      color: #9e9e9e;
      margin-bottom: 1.2rem;
   }
}

.btnHome {
   margin-top: -.8rem;
   width: 100%;
}

.row .col {
   padding: 0 1.5rem;
}

.countrySelector {
   background-color: rgb(51, 51, 51);
   margin-top: -10rem;
   padding-top: 15rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;

   &__text {
      text-align: center;
      font-weight: 100;
      color: #2BBBAD;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-size: 7rem;
      border-bottom: 1px solid #2BBBAD;
      width: 80%;
      margin-bottom: 1rem;
   }

   svg {
      position: relative;
      left: 7%;
      z-index: 5;
   }


   .restoDelMundo {fill:rgb(206, 198, 198);}
   .francia, .nuevaYork, .miami, .atlanta, .arabiaSaudita, .venezuela {
      fill:rgb(206, 51, 51);
      transition: all .5s;
      &:hover {
         fill:#2BBBAD;
      }
   }

   #RestoDelMundo {
      cursor: default;
   }
}