*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
   font-family: $font-family;
}

a, a:link, a:visited {
   text-decoration: none;
   color: inherit;
   font-family: inherit;
}