extends layout

block content
   ul#slide-out.sidenav
      li
         .user-view
            .background
               img(src='/images/fondoAvion.jpg')
            a
               img.circle(src='/images/logoTexto.png')
            a
               span.white-text.name Administrator Options
      li
         ul.collapsible
            li
               .collapsible-header
                  i(class="fas fa-tools")
                  | Planning
               .collapsible-body
                  a(href="/admin/planningFlights") Flights
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/planningCharters") Charter Flights
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/planningRoutes") Routes
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/planningAirplanes") Airplanes
                     i(class="fas fa-angle-right ml-4")
            li
               .collapsible-header
                  i(class="fas fa-flag")
                  | Reports and Manifests
               .collapsible-body
                  a(href="/admin/reportsFailures") Failures
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/reportsMaintenances") Maintenances
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/reportsDetours") Detours
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/reportsCancelations") Cancelations
                     i(class="fas fa-angle-right ml-4")
            li
               .collapsible-header
                  i(class="fas fa-money-check")
                  | Sales
               .collapsible-body
                  a(href="/admin/salesFlightTickets") Flight Tickets
                     i(class="fas fa-angle-right ml-4")
            li
               .collapsible-header
                  i(class="fas fa-chart-pie")
                  | Statistics
               .collapsible-body
                  a(href="/admin/statisticsFlightTickets") Flight Tickets
                     i(class="fas fa-angle-right ml-4")

   .admin-section
      block adminContent
      if title == 'adminOnly'
         //- Porcentaje de subida o bajada al precio base
         //- Cantidad de pasajes en total vendidos
         //- Ganacias totales de todos los tickets
         //- Vuelos con sobreventa
         .row.rowBoxes
            .col.s3
               .adminBox
                  .titleBox - Increase Percentage -
                  form(action="" method="")
                     .row.rowRange
                        .col.s10
                           p.range-field
                              input.rangePercentageIncDec(type='range' min='-99' max='99' name="percentageIncDec")
                        .col.s2.colButtonBox
                           button.btn.waves-effect.waves-light.buttonRange(type='submit') <i class="fas fa-check"></i>

            .col.s3
               .adminBox
                  .titleBox.titleBox-2 - Tickets Sold -
                  .contInfo
                     p.infoBox.infoBox-num#cantTicketsSold
                     p.infoBox &nbsp;Tickets 

            .col.s3
               .adminBox
                  .titleBox.titleBox-2 - Flights with Overbooking -
                  .contInfo
                     p.infoBox.infoBox-num#flightsOverbooking
                     p.infoBox &nbsp;Flights 

            .col.s3
               .adminBox
                  .titleBox.titleBox-2 - Total Profits -
                  .row.rowRange
                     .col.s10
                        .contInfo
                           p.infoBox.infoBox-num#totalProfits
                           p.infoBox &nbsp;$
                     .col.s2.colButtonBox
                        a.btn.waves-effect.waves-light.buttonSearchBox.modal-trigger(href="#modal1") <i class="fas fa-search-dollar"></i>
         #modal1.modal
            .modal-content.contentModalProfits
               .row
                  .input-field.col.s6 
                     i(class="far fa-calendar prefix material-icons")
                     input.datepickerProfits#intervalProfit1(type='text' placeholder="Choose the Depart Date" name="firstDate")
                     label(for='depart') First Date
                  .input-field.col.s6 
                     i(class="far fa-calendar prefix material-icons")
                     input.datepickerProfitss#intervalProfit2(type='text' placeholder="Choose the Depart Date" name="secondDate")
                     label(for='depart') Second Date
               .row
                  .contInfoInterval
                     p Interval Profit:&nbsp;
                     p.infoBox.infoBox-num#intervalProfit ---
                     p.infoBox &nbsp;$
               .modal-footer
                  a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cancel
                  button.waves-effect.waves-green.btn-flat#findIntervalProfit Find &nbsp;&nbsp;<i class="fas fa-search"></i>



         .titleee - Number of Flights per Month -
         .chartContainer
            <canvas id="chart1" width="1000" height="100"></canvas>
            .preloader-wrapper.small.active.loaderChart1
               .spinner-layer.spinner-green-only
                  .circle-clipper.left
                     .circle
                  .gap-patch
                     .circle
                  .circle-clipper.right
                     .circle

         .titleee - Number of Flights per Airplane -
         .chartContainer
            <canvas id="chart2" width="1000" height="100"></canvas>
            .preloader-wrapper.small.active.loaderChart2
               .spinner-layer.spinner-green-only
                  .circle-clipper.left
                     .circle
                  .gap-patch
                     .circle
                  .circle-clipper.right
                     .circle

         .titleee - More visited airports -
         .chartContainer
            <canvas id="myChart" width="1000" height="100"></canvas>

         .titleee - Average weight per Airplane -
         .chartContainer
            <canvas id="myChart" width="1000" height="100"></canvas>

         //- Gráfico de torta
         .titleee - Percentage of use per Airplane -
         .chartContainer
            <canvas id="myChart" width="1000" height="100"></canvas>

         //- Demográficas, varios gráficos de torta (edad, sexo, nacionalidad)   
         .titleee - Percentage of use per Airplane -
         .chartContainer
            <canvas id="myChart" width="1000" height="100"></canvas>

   