extends layout

block content
   ul#slide-out.sidenav
      li
         .user-view
            .background
               img(src='/images/fondoAvion.jpg')
            a
               img.circle(src='/images/logoTexto.png')
            a
               span.white-text.name Administrator Options
      li
         ul.collapsible
            li
               .collapsible-header
                  i(class="fas fa-tools")
                  | Planning
               .collapsible-body
                  a(href="/admin/planningFlights") Flights
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/planningCharters") Charter Flights
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/planningRoutes") Routes
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/planningAirplanes") Airplanes
                     i(class="fas fa-angle-right ml-4")
            li
               .collapsible-header
                  i(class="fas fa-flag")
                  | Reports and Manifests
               .collapsible-body
                  a(href="/admin/reportsFailures") Failures
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/reportsMaintenances") Maintenances
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/reportsDetours") Detours
                     i(class="fas fa-angle-right ml-4")
                  a(href="/admin/reportsCancelations") Cancelations
                     i(class="fas fa-angle-right ml-4")
            li
               .collapsible-header
                  i(class="fas fa-money-check")
                  | Sales
               .collapsible-body
                  a(href="/admin/salesFlightTickets") Flight Tickets
                     i(class="fas fa-angle-right ml-4")
            li
               .collapsible-header
                  i(class="fas fa-chart-pie")
                  | Statistics
               .collapsible-body
                  a(href="/admin/statisticsFlightTickets") Flight Tickets
                     i(class="fas fa-angle-right ml-4")

      

   .admin-section
      block adminContent