extends layout

block content
   .home
      .home__text-container
         p.home__text-primary With Guacamaya Airlines you will travel further
         p.home__text-secondary Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolor veniam magni odit ipsam exercitationem, et dolore alias repellat illum ea praesentium nemo voluptate suscipit. Dicta dolorum dolores repudiandae debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non qui, alias nihil quos eos maxime voluptatibus, autem veniam, deleniti dolores minima. Maxime autem beatae consequatur id accusamus voluptas molestias pariatur.
      .home__principal-form