<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      link(rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css")
      link(rel="stylesheet" href="./dist/main.css")
      title #{title} | #{h.siteTitle}
   body
      header
         
   main
      block content
   footer
   script(src="./dist/main.bundle.js", defer)